<!-- budget feedback -->
<div class="budget-feedback alert alert-danger text-capitalize">budget feedback</div>
<!-- budget form -->
<form id="budget-form" class=" budget-form">
    <h5 class="text-capitalize">please enter your budget</h5>
    <div class="form-group">
        <input type="number" class="form-control budget-input" id="budget-input">
    </div>
    <!-- submit button -->
    <button type="submit" class="btn text-capitalize budget-submit" id="budget-submit">Add Income</button>
</form>