# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/one-pesewa-client/dist
/one-pesewa-client/tmp
/one-pesewa-client/out-tsc
# Only exists if Bazel was run
/one-pesewa-client/bazel-out

# dependencies
/one-pesewa-client/node_modules

# profiling files
/one-pesewa-client/chrome-profiler-events.json
/one-pesewa-client/speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
