<table class="table">
	<thead>
		<tr>
			<th scope="col" width="25%">Date</th>
			<th scope="col" class="text-center" width="15%">Transaction</th>
			<th scope="col">Narration</th>
			<th scope="col">Amount</th>
			<th scope="col" class="text-right" width="10%">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let transaction of transactions">
			<td scope="row">{{ transaction.transaction_date_created | date : 'medium' }}</td>
			<td class="text-center" >
				<span class="badge badge-success" *ngIf="transaction.transaction_type === 'credit'">Credit</span>
				<span class="badge badge-danger" *ngIf="transaction.transaction_type === 'debit'">Debit</span>
			</td>
			<td>{{ transaction.transaction_title }}</td>
			<td>{{ transaction.amount | currency: 'GHS ' }}</td>
			<td>
				<div class="expense-icons list-item">

					<a class="edit-icon mx-2" (click)="onEdit(transaction.transaction_id)" >
						<i class="fas fa-edit"></i>
					</a>
					<a class="delete-icon" (click)="onDelete(transaction.transaction_id)" >
						<i class="fas fa-trash"></i>
					</a>
				</div>
			</td>
		</tr>
	</tbody>
</table>