<!-- <alert type="info">CSV to JSON works</alert> -->
<div class="row">
	<div class="col-md-12 text-center">
		<div class="btn-group" btnRadioGroup [(ngModel)]="csv2jsonRadioModel">
		  <label class="btn btn-info" btnRadio="copy_csv"
		         uncheckable tabindex="0" role="button" (click)="toggleAction()">Copy CSV</label>
		  <label class="btn btn-info" btnRadio="upload_csv"
		         uncheckable tabindex="0" role="button" (click)="toggleAction()">Upload CSV</label>
		  <label class="btn btn-info" btnRadio="copy_json"
		         uncheckable tabindex="0" role="button" (click)="toggleAction()">Copy JSON</label>
		  <label class="btn btn-info" btnRadio="upload_json"
		         uncheckable tabindex="0" role="button" (click)="toggleAction()">Upload JSON</label>
		</div>
		<hr />
		<br />
	</div>
	<div class="col-md-6">
		<div *ngIf="csv2jsonRadioModel != 'upload_csv'">
			<h5>Paste CSV here:</h5>
			<textarea rows="20" id="csv" [attr.disabled]="disable_csv_textarea ? '' : null"></textarea>			
		</div>
		<button type="button" class="btn btn-info"  *ngIf="csv2jsonRadioModel == 'upload_csv'">
		  Upload CSV
		</button>
		&nbsp;
		<button type="button" class="btn btn-success" (click)="convertCsv()" *ngIf="!disable_csv_textarea">
		  Convert to JSON
		</button>
		&nbsp;
		<button type="button" class="btn btn-primary" (click)="downloadCsv()" *ngIf="disable_csv_textarea">
		  Download CSV
		</button>
	</div>
	<div class="col-md-6">
		<div  *ngIf="csv2jsonRadioModel != 'upload_json'">
			<h5>Paste JSON here:</h5>
			<textarea rows="20" id="json" [attr.disabled]="disable_json_textarea ? '' : null"></textarea>
		</div>
		<div *ngIf="!disable_json_textarea" class="row">
			<div class="col-md-6">
				<input id="quote" type="checkbox" checked="true" /> Wrap values in double quotes
			</div>
			<div class="col-md-6">
				<input id="labels" type="checkbox" checked="true" /> Include labels in first row
			</div>
		    <br />
		    <br />
		</div>
		<button type="button" class="btn btn-info"  *ngIf="csv2jsonRadioModel == 'upload_json'">
		  Upload JSON
		</button>
		&nbsp;
		<button type="button" class="btn btn-success" (click)="convertJson()" *ngIf="!disable_json_textarea">
		  Convert to CSV
		</button>
		&nbsp;
		<button type="button" class="btn btn-primary" (click)="downloadJson()" *ngIf="disable_json_textarea">
		  Download JSON
		</button>
	</div>
</div>