<div class="container-fluid">
    <div class="row">
        <div class="col-11 mx-auto pt-3">
            <!-- title -->
            <h3 class="text-uppercase mb-4"><img src="../../assets/images/icons8-expensive-96.png" alt="" width="50px" height="50px"> Pesewa</h3>
            <div class="row ">
               
                <!-- Router holder for the pages -->
                <div class="col-md-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>