<!-- Login header section -->
<section class="header navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="logo col-md-6  pull-left text-left"> 
                <a [routerLink]="['/home']">
                    <img src="assets/images/onePesewaLogo.png" class="img-responsive" />
                </a> 
            </div>
            <div class="account col-md-6 pull-right text-right">
               <a class="btn" [routerLink]="['/home']" *ngIf="displayLogin">How it works</a>
               <a class="btn" [routerLink]="['/login']" *ngIf="displayHome">Sign In / Sign Up</a>
           </div>

        </div>
    </div>
</section>

<!-- Login main form section -->
<section class="innerPage">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</section>

<!-- Login footer section -->
<section class="footer text-center">
    <div class="container">
        <div class="footerLinks text-center">
            <span class="copyright">&copy;2020 OnePesewa</span>
            <ul>
                <li> <a href="">Privacy Policy</a>
                <li> <a href="">Terms of Use</a>
                <li> <a href="">Contact </a>
            </ul>
        </div>
    </div>
</section>