
<!-- Start: Main -->
<!-- <div id="main">  -->
  <!-- Start: Sidebar -->
  <!-- <aside id="sidebar">
    <div id="sidebar-search">
      <form role="search">
        <input type="text" class="search-bar form-control" placeholder="Search">
        <i class="fa fa-search field-icon-right"></i>
        <button type="submit" class="btn btn-default hidden"></button>
      </form>
      <div class="sidebar-toggle"> <i class="fa fa-bars"></i> </div>
    </div>
    <div id="sidebar-menu">
      <ul class="nav sidebar-nav">
        <li class="active"> <a href="#"><span class="glyphicons glyphicons-bank"></span><span class="sidebar-title">Dashboard</span></a> </li>
      </ul>
    </div>
  </aside> -->
  <!-- End: Sidebar --> 
  <!-- Start: Content -->
  <section id="content">
    <div id="topbar">
      <ol class="breadcrumb">
        <li><a href="dashboard.html"><i class="glyphicons glyphicons-bank"></i></a></li>
        <li><a href="#">Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="console-btns">
            <div class="row">
              <div class="col-sm-6 col-md-3"  disabled="disabled">
                <div class="console-btn">
                  <div class="console-icon divider-right"> <span class="glyphicons glyphicons-cardio"></span> </div>
                  <div class="console-text">
                    <div class="console-title">Account Product 1</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="console-btn">
                  <div class="console-icon divider-right"> <span class="glyphicons glyphicons glyphicons-hdd"></span> </div>
                  <div class="console-text">
                    <div class="console-text">Account Product 2</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="console-btn">
                  <div class="console-icon divider-right"> <span class="glyphicons glyphicons-print"></span> </div>
                  <div class="console-text">
                    <div class="console-title">Account Product 3</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="console-btn">
                  <div class="console-icon divider-right"> <span class="glyphicons glyphicons-security_camera"></span> </div>
                  <div class="console-text">
                    <div class="console-title">Account Product 4</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="console-btn">
                  <div class="console-icon divider-right"> <span class="glyphicons glyphicons-security_camera"></span> </div>
                  <div class="console-text">
                    <div class="console-title">Account Product 5</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="console-btn">
                  <div class="console-icon divider-right"> <span class="glyphicons glyphicons-security_camera"></span> </div>
                  <div class="console-text">
                    <div class="console-title">Account Product 6</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="short margin-top-none">
      <div class="row">
        <div class="col-md-5 col-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="panel profile-panel">
                <div class="panel-heading panel-visible">
                  <div class="panel-title"> <i class="fa fa-user"></i> User Profile -</div>
                  <span class="panel-title-sm pull-left text-success" style="color: #7ec35d; padding-left: 7px; padding-top: 2px;"> Online</span>
                  <div class="panel-btns pull-right margin-left">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default btn-gradient dropdown-toggle" data-toggle="dropdown"><span class="glyphicons glyphicons-cogwheel"></span>&nbsp; Edit Image</button>
                      <ul class="dropdown-menu checkbox-persist pull-right text-left" role="menu">
                        <li><a><i class="fa fa-cloud-upload"></i> Upload Image </a></li>
                        <li><a><i class="fa fa-camera"></i> Take Picture </a></li>
                        <li><a><i class="glyphicons  glyphicons-webcam"></i> Take Picture </a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-5" id="profile-avatar"> <img src="assets/images/avatars/login.png" class="img-responsive" width="150" height="112" alt="avatar"> </div>
                    <div class="col-xs-7">
                      <div class="profile-data"> <span class="profile-name"><h4> <b class="text-primary">User name</b></h4></span>
                        <ul class="profile-info list-unstyled">
                          <li><i class="fa fa-phone"></i> User Phone Number</li>
                          <li><i class="glyphicons glyphicons-adress_book"></i> User Account Number</li>
                          <li></li>
                          <li><h3>User Account Balance</h3></li>
                          <li><button type="button" class="btn btn-alert" disabled="disabled"> Account Unverified</button></li>
                          <!-- <li><button type="button" class="btn btn-success" disabled="disabled"> Account has KYC 1</button></li>
                          <li><button type="button" class="btn btn-success" disabled="disabled"> Account has KYC 2</button></li>
                          <li><button type="button" class="btn btn-warning" disabled="disabled"> Account has KYC 3</button></li>
                          <li><button type="button" class="btn btn-warning" disabled="disabled"> Account has KYC 4</button></li> -->
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="panel-footer padding-bottom-none">
                  <div class="row">
                    <div class="col-sm-3 col-md-6">
                      <div class="console-btn" data-toggle="modal" data-target="#addMoney">
                        <div class="console-icon divider-right"> <span class="glyphicons glyphicons-credit_card"></span> </div>
                        <div class="console-text">
                          <div class="console-text">Add Money</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3 col-md-6">
                      <div class="console-btn" data-toggle="modal" data-target="#transferMoney">
                        <div class="console-icon divider-right"> <span class="glyphicons glyphicons-iphone_transfer"></span> </div>
                        <div class="console-text">
                          <div class="console-text">Transfer Money</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3 col-md-6">
                      <div class="console-btn" data-toggle="modal" data-target="#buyAirtime">
                        <div class="console-icon divider-right"> <span class="fa fa-money"></span> </div>
                        <div class="console-text">
                          <div class="console-text">Buy Airtime</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3 col-md-6">
                      <div class="console-btn" data-toggle="modal" data-target="#DstvBills">
                        <div class="console-icon divider-right"> <span class="glyphicons glyphicons-coins"></span> </div>
                        <div class="console-text">
                          <div class="console-text">Pay DSTV Bill</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-lg-8">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-visible">
                <div class="panel-heading">
                  <div class="panel-title"> <i class="fa fa-table"></i> Latest Transactions </div>
                </div>
                <div class="panel-body">
                  <table class="table table-striped table-bordered table-hover" id="datatable">
                    <thead>
                      <tr>
                        <th>Type</th>
                        <th class="hidden-xs">Date</th>
                        <th>Amount</th>
                        <th class="visible-lg">Reciever</th>
                        <th class="hidden-xs hidden-sm">Source</th>
                      </tr>
                    </thead>
                    <tbody>
                     <!-- <tr>
                        <td><span class="xedit">Account_Type</span></td>
                        <td class="hidden-xs"><span class="xedit">Date</span></td>
                        <td class="hidden-xs hidden-sm">Amount</td>
                        <td class="visible-lg">Reciever</td>
                        <td>Source</td>
                      </tr>  -->                   
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </section>
  <!-- End: Content --> 
<!-- </div> -->
<!-- End: Main --> 