<div class="container-fluid">
  <div class="row">
     <div class="col-11 mx-auto pt-3">
        <!-- title -->
        <h3 class="text-uppercase mb-4">One Pesewa</h3>
        <div class="row">
           <div class="col-md-5 my-3">
              <!-- budget feedback -->
              <div class="budget-feedback alert alert-danger text-capitalize">budget feedback</div>
              <!-- budget form -->
              <form id="budget-form" class=" budget-form">
                 <h5 class="text-capitalize">please enter your budget</h5>
                 <div class="form-group">
                    <input type="number" class="form-control budget-input" id="budget-input">
                </div>
                <!-- submit button -->
                <button type="submit" class="btn text-capitalize budget-submit" id="budget-submit">calculate</button>
            </form>
        </div>
        <div class="col-md-7">
          <!-- app info -->
          <div class="row my-3">
             <div class="col-4 text-center mb-2">
                <h6 class="text-uppercase info-title">Income</h6>
                <span class="budget-icon"><i class="fas fa-money-bill-alt"></i></span>
                <h4 class="text-uppercase mt-2 budget" id="budget"><span style="font-size: 20px;">GHs </span><span id="budget-amount">0</span></h4>
            </div>
            <div class="col-4 text-center">
                <h6 class="text-uppercase info-title">Expenses</h6>
                <span class="expense-icon"><i class="far fa-credit-card"></i></span>
                <h4 class="text-uppercase mt-2 expense" id="expense"><span style="font-size: 20px;">GHs </span><span id="expense-amount">0</span></h4>
            </div>
            <div class="col-4 text-center">
                <h6 class="text-uppercase info-title">Balance</h6>
                <span class="balance-icon"><i class="fas fa-dollar-sign"></i></span>
                <h4 class="text-uppercase mt-2 balance" id="balance"> <span style="font-size: 20px;">GHs </span><span id="balance-amount">0</span></h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
   <div class="col-md-5 my-3">
      <!-- expense feedback -->
      <div class="expense-feedback alert alert-danger text-capitalize">expense feedback</div>
      <!-- expense form -->
      <form id="expense-form" class=" expense-form">
         <h5 class="text-capitalize">please enter your expense</h5>
         <div class="form-group">
            <input type="text" class="form-control expense-input" id="expense-input">
        </div>
        <h5 class="text-capitalize">please enter expense amount</h5>
        <div class="form-group">
            <input type="number" class="form-control expense-input" id="amount-input">
        </div>
        <!-- submit button -->
        <button type="submit" class="btn text-capitalize expense-submit" id="expense-submit">add expense</button>
    </form>
</div>
<div class="col-md-7 my-3">
    <div class="expense-list__info d-flex">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Transaction</th>
              <th scope="col">Narration</th>
              <th scope="col">Amount</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>credit</td>
              <td>Salary paid</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>debit</td>
              <td>Fix gate</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>credit</td>
              <td>Side gig</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
<div class="col-md-7 my-3">
  <!-- expense list -->
  <div class="expense-list" id="expense-list">

     <div class="expense-list__info d-flex justify-content-between text-capitalize">
        <h5 class="list-item">expense title</h5>
        <h5 class="list-item">expense value</h5>
        <h5 class="list-item"></h5>
    </div>
    
    <!-- single expense -->

       <!-- <div class="expense">
        <div class="expense-item d-flex justify-content-between align-items-baseline">

         <h6 class="expense-title mb-0 text-uppercase list-item">- title</h6>
         <h5 class="expense-amount mb-0 list-item">amount</h5>

         <div class="expense-icons list-item">

          <a href="#" class="edit-icon mx-2" data-id="${expense.id}">
           <i class="fas fa-edit"></i>
          </a>
          <a href="#" class="delete-icon" data-id="${expense.id}">
           <i class="fas fa-trash"></i>
          </a>
         </div>
        </div>

    </div> -->

    <!-- end of single expense -->

</div>
</div>
</div>




</div>
</div>
</div>

<router-outlet></router-outlet>
