<div class="container-fluid">
    <div class="row">
        <div class="col-11 mx-auto pt-3">
            <!-- title -->
            <h3 class="text-uppercase mb-4">One Pesewa</h3>
            <div class="row">
                <!-- Income Form -->
                <div class="col-md-5 my-3">
                    <app-income></app-income>
                </div>
                
                <!-- Dashboard -->
                <div class="col-md-7">
                    <app-dashboard></app-dashboard>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 my-3">
                    <!-- Expense Form -->
                    <app-expense></app-expense>
                </div>
                <div class="col-md-7 my-3">
                    <!-- Transactions table -->
                    <app-transactions></app-transactions>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
