<h3 class="text-center">Sign in with your OnePesewa details</h3>
<div class="clear">&nbsp;</div>

<div class="container" [ngClass]="{'right-panel-active': enableSignUpForm}"  style="margin-top: 10px;">
	<div class="form-container sign-up-container">
		<form #signupForm="ngForm" (ngSubmit)="signupForm.form.valid && onSubmit('signupForm')">
			<h2>Create Account</h2>
			<!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span> -->
			<input type="text" 
					placeholder="Full Name"
					#name="ngModel"
					[(ngModel)]="signUpModel.name"
					id="name"
					name="name"
					required />
			<div *ngIf="signupForm.submitted && !name.valid" style="color: #a94442;">Full name is required</div>
			<input type="email" 
					placeholder="Email"
					#email="ngModel"
					[(ngModel)]="signUpModel.email"
					id="email"
					name="email"
					required />
			<div *ngIf="signupForm.submitted && !email.valid" style="color: #a94442;">Full name is required</div>
			<input type="password" 
					placeholder="Password"
					#password="ngModel"
					[(ngModel)]="signUpModel.password"
					id="password"
					name="password"
					required />
			<div *ngIf="signupForm.submitted && !password.valid" style="color: #a94442;">Full name is required</div>
			<input type="password" 
					placeholder="Confirm Password"
					#confirmPassword="ngModel"
					[(ngModel)]="signUpModel.confirmPassword"
					id="confirmPassword"
					name="confirmPassword"
					required />
			<div class="text-left" *ngIf="signupForm.submitted && !confirmPassword.valid" style="color: #a94442;">Full name is required</div>
			<br />
			<button type="submit">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && onSubmit('loginForm')">
			<h2>Sign in</h2>
			<div *ngIf="loginForm.submitted && !email.valid" style="color: #a94442;">Email is required</div>
			<!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span> -->
			<input type="email" 
					placeholder="Email"
					#email="ngModel"
					[(ngModel)]="loginModel.email"
					id="email"
					name="email"
					required />
			<input type="password" 
					placeholder="Password"
					#password="ngModel"
					[(ngModel)]="loginModel.password"
					id="password"
					name="password"
					required />
			<a href="#">Forgot your password?</a>
			<button type="submit" >Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1 style="color: white;">Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" (click)="switchForm('signIn')">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1 style="color: white;">Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" (click)="switchForm('signUp')">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<div class="clear">&nbsp;</div>